.search-bar {
    display: flex;
    margin: 0 1rem;
}

.search-bar input {
    flex-grow: 1;
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    font-size: 1rem;
}

.search-bar button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: var(--button-hover);
}